* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-container {
  width: 100%;
  height: 100vh;
  /* background-image: url("../assets/img/pexels-bri-schneiter-346529.jpg"); */
  background-image: url("../assets/img/pexels-frank-cone-3214110.jpg");
  background-size: cover;
  background-position: center;
  /* opacity: 0.9; */
}
.hero-container-2 {
  width: 100%;
  height: auto;
  background-image: url("../assets/img/pexels-frank-cone-3214110.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

a {
  text-decoration: none;
  display: inline;
  font-weight: 700;
  color: #a7defa;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

header {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-rows: 1fr;
}
.header-icons-container {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  display: grid;
}
.header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
.icons span {
  color: #a7defa;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70px;
}
.nav-logo-container {
  margin-left: 50px;
}

.nav-logo-container img {
  width: 220px;
  background-color: #192b41;
  opacity: 0.7;
}
.profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
.profile-link a {
  color: #a7defa;
  border-bottom: 1px solid #a7defa;
  opacity: 0.8;
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-access {
  width: 50%;
  min-width: 280px;
  max-width: 500px;
  position: relative;
  top: -100px;
}
.home-main-text {
  color: #a7defa;
  font-size: 30px;
  letter-spacing: 3px;
  padding-bottom: 50px;
  text-align: center;
}
.home-main-button {
  font-weight: 900;
  letter-spacing: 2px;
  color: #1f2833;
  background-color: #45a29e;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  display: block;
  margin: 0 auto;
  box-shadow: inset 0 0 0 0 #a7defa;
  transition: ease-out 0.3s;
}
.home-main-button:hover {
  cursor: pointer;
  color: #1f2833;
}

.blogs-main,
.blog-main,
.profile-main {
  display: grid;
  margin-top: 40px;
}

.blogs-news-container {
  background-color: hsl(213deg 38% 21%);
  color: #a7defa;
  padding: 0 50px 40px;
}

.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.blogs-news-img-container {
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 85%;
  border-radius: 2px;
}
.profile-picture img {
  border-radius: 50%;
  max-width: 30%;
}

.blogs-news-info-container {
  grid-column: 2;
}
.blogs-news-info-container p {
  margin-bottom: 35px;
  color: #a7defa;
}

.blogs-posts-container {
  padding: 0 50px 40px;
  background-color: #dbf3ff;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid #a7defa;
  padding-bottom: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}
.blogs-button {
  border: 1px solid #a7defa;
  padding: 12px 18px;
  font-size: 12px;
}

.blogs-button:hover {
  border: 1px solid #1f2833;
  background-color: #1f2833;
  color: #a7defa;
  padding: 13px 19px;
  font-size: 12px;
}

.blogs-posts-container .blogs-button {
  border: 1px solid hsl(213deg 38% 21%);
  color: hsl(213deg 38% 21%);
}
.blogs-posts-container .blogs-button:hover {
  border: 1px solid whitesmoke;
  color: white;
  background-color: hsl(213deg 38% 21%);
}

.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}

.blogs-posts-container .post-container p {
  margin-bottom: 35px;
}
.blogs-posts-container .post-container img {
  width: 100%;
}

footer {
  width: 100%;
  height: 80px;
  color: #a7defa;
  background-color: hsl(213deg 38% 21%);
  border-top: 20px solid #1f2833;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 12px;
}

/*Blog detailing*/
.main-background {
  background-color: #dbf3ff;
  max-width: 980px;
}

.blogpost-img-container {
  padding: 50px 50px 40px;
  background-color: hsl(213deg 38% 21%);
}

.blogpost-img-container img {
  width: 100%;
}

.blogpost-main-container {
  padding: 0 50px 40px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.blogpost-main-container h3 {
  border-bottom: 1px solid #a7defa;
  padding-bottom: 20px;
}
.blogpost-main-container article h1 {
  font-size: 35px;
}
.contact-main-container {
  width: 100%;
  min-height: 150px;
  background-color: hsl(200, 89%, 72%);
  text-align: center;
  padding-bottom: 50px;
}
.contact-main-container div {
  display: inline-block;
  width: 49.5%;
  height: 100%;
}
.contact-main-container div a {
  color: #1f2833;
  border-bottom: 1px solid #1f2833;
  padding-bottom: 5px;
}

.contact-left,
.contact-right {
  text-align: initial;
  margin-top: 85px;
}
.contact-main-container img {
  width: 100px;
}
/*Profile-part*/
.profile-main-container {
  padding: 70px 40px;
  margin-bottom: 50px;
  background-color: hsl(213deg 38% 21%);
  color: #a7defa;
}
.profile-main-container img {
  width: 260px;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}
/* .profile-image-container img {
  max-inline-size: 100%;
  height: auto;
} */
.profile-main-container .profile-container {
  display: flex;
}
.profile-main-projects {
  padding: 0 50px 40px;
}
.profile-main-projects h3 {
  border-bottom: 1px solid #1f2833;
  padding-bottom: 35px;
  text-align: center;
}
.proyects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}
.proyects-container {
  padding: 0 5px;
}
.proyects-main-container a {
  color: #192b41;
  font-size: 18px;
}
/*
#0B0C10 BLACK
#1F2833 SEMIBLACK
#C5C6C7 GRIS
#66FCF1 BLUE GREEN
#45A29E BLUE
#a7defa white blue from tags
nav blue #083e5a
*/ ;
